body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.8;
    color: #000000;
    background-color: white;
    size: 12px;
    text-align: justify;
}

h6 {
    color: rgb(142, 142, 147);
    text-align: center;
}

h2 {
    text-align: center;
}

.mainText {
    white-space: normal;
    text-align: justify;
    size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.8;
}

main {
    color: black;
}

.quote {
    font-style: italic;
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * Navigation * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Navigation Bar */
.navbar {
    top: 0;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    z-index: 5;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: tomato;
}

.navbar .logo {
    width: auto;
    height: 70px;
    margin-right: auto;
}

.navlinks li a, .dropdown-button {
    transition: all 0.3s ease;
}

nav .navbar-nav li a{
    color: #8e8e93;
}

.navlinks li a:hover, .dropdown:hover .dropdown-button {
    color: rgba(255, 255, 255, 1);
}

/* Links */
a:link, a:visited {
    /* background-color: #f44336; */
    color: #8e8e93;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.isDisabled {

    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a:active, a:hover{
    text-decoration: none;
    color: #d1d1d6;
}

/* Dropdown */
.dropdown-content {
    padding: 0;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    /*transform: translateX(-25px);*/
}
.dropdown-content li {
    /*padding: 12px 16px;*/

    display: block;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li:hover {
    background-color: #434343;
}



ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

dd {
    text-align: left;


}

/* Audio Player */
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For pictures in Analysis */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

div, iframe {
    margin: 0 auto;
}

iframe {
    display: block;
    border-style: none;
}

.IMGcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.IMGequation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.IMGcode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.IMGsmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.IMGcover{
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-1 {
    background-color: white;

}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

header img {
    height: 80px;
}

header {
    background-color: black;
    top: 0;
    left: 0;
    right: 0
}

footer {
    background-color: white;

}

iframe {
    width: 100%;
    border: 2px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
